# RPC URL sourced by scripts
RPC_URL=

# The deployment private key sourced by scripts
PRIVATE_KEY=

ETHERSCAN_API_KEY=

DEPLOYER=

L2_BRIDGE=
L1_TOKEN=


# verify 
# STEP 1
# PROXY=
# STEP 2
# TIMELOCK=
# MULTISIG_ENG=

# OLD_IMPL=

